.image-container {
  position: relative;
}

span {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
}

img[alt="selected-pic"] {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
}
