div.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.product:hover {
  cursor: pointer;
}

img.product-image {
  max-width: 250px;
  height: 250px;
  margin-bottom: 8px;
}

div.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.user-product-description p {
  margin: 0 10px 6px;
}

button.add-to-cart-button {
  width: 160px;
  background: #4b5548;
  height: 40px;
  margin-top: 3px;
  color: #fff;
}
