.container,
.page-container {
  display: flex;
  width: 650px;
}

.page-container {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#page-header {
  border: 1px dotted orange;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

#images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container {
  position: relative;
}

img {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
}

div.form-row {
  display: flex;
}

input.upload-form-input {
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#form-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

input {
  background: #23333c;
  border: 1px solid #868f94;
  height: 40px;
  color: #fff;
  outline: none;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 16px;
}

input:focus {
  border: 1px solid #19b188;
}

#authentication-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #23333c;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid yellow;
}

h1#form-header {
  color: #fff;
  align-self: center;
  font-size: 16px;
}

button#upload-button {
  background: #19b188;
  border: none;
  max-width: 80px;
  height: 30px;
  border-radius: 2px;
  align-self: center;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
}
