.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

#full-page {
  width: 100%;
  background: #fcfcfa;
  position: relative;
}

div#nav {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  margin: 0 16px;
}

div#left-section ul li:first-child {
  font-size: 24px;
  letter-spacing: 4px;
  margin-right: 24px;
}

div#header {
  display: flex;
  justify-content: space-between;
  padding: 40px 120px;
}

div#header-lhs,
div#header-rhs {
  display: flex;
}

div#header-lhs {
  flex-direction: column;
}

form#filter {
  display: flex;
  align-items: center;
}

input[name="max"],
input[name="min"] {
  max-width: 80px;
  margin-right: 4px;
  height: 30px;
  background: #fff;
  color: #000;
}

div.radio-container {
  display: flex;
  align-items: center;
  padding-right: 4px;
}

input[type="radio"] {
  margin-right: 4px;
}

button#filter-button {
  padding: 4px;
  height: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 8px;
}

button#filter-button:disabled {
  cursor: not-allowed;
}

div#header-rhs {
  justify-content: flex-end;
}

select#disabled-filter {
  width: 200px;
  height: 45px;
  border-radius: 0;
  border: 1px solid gray;
  color: #000;
}

div#body {
  background: #e3e6e3;
  height: 100%;
}

div#body-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  flex-wrap: wrap;
}

div#body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
  padding-top: 100px;
}

@media (min-width: 768px) {
  div#body-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
    padding-top: 100px;
  }
}
